:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

#root {
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

/* menu */
.ant-layout-sider-trigger {
    background-color: #f9f9f9 !important;
    color: #535bf2 !important;
}

.admin-logo {
    height: 32px;
    margin-bottom: 40px;
}

.admin-logo .logo {
    width: 100%;
}

.ant-layout-sider {
    background-color: #fff !important;
}

.ant-skeleton.ant-skeleton-element.ant-skeleton-active {
    width: 100%
}

.ribbonTable .ant-ribbon-wrapper {
    position: absolute !important;
    top: 20%;
    left: 80px;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2666ba;
    border-color: #2666ba;
}

#tableDisc > thead > tr > th {
    text-align: left;
    font-weight: 600;
}

.discount-table {
    border-collapse: collapse;
    width: 100%;
}

.discount-table table tr td, .discount-table table tr th {
    border: 1px solid #dddd;
    text-align: left;
    padding: 8px;
}

